In [152]:
import pandas as pd 

file = pd.ExcelFile('../data/Raw_data.xlsx')
file.sheet_names

['Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAddress']

In [153]:
cust_demo_data = pd.read_excel('../data/Raw_data.xlsx', sheet_name='CustomerDemographic')
cust_demo_data.head(2)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0

In [154]:
cust_demo_data.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [155]:
cust_demo_data.isnull().mean()*100

customer_id                             0.000
first_name                              0.000
last_name                               3.125
gender                                  0.000
past_3_years_bike_related_purchases     0.000
DOB                                     2.175
job_title                              12.650
job_industry_category                  16.400
wealth_segment                          0.000
deceased_indicator                      0.000
default                                 7.550
owns_car                                0.000
tenure                                  2.175
dtype: float64

In [156]:
# Address Missing Columns

# 1. last_name
# Replace by 'yy'

cust_demo_data['last_name'] = cust_demo_data['last_name'].fillna('yy')

In [157]:
cust_demo_data['last_name'].isnull().any()

False

In [158]:
# 2. DOB
# Drop these values

cust_demo_data = cust_demo_data.dropna(subset='DOB')

In [159]:
cust_demo_data['DOB'].isnull().any()

False

In [179]:
# 3. Job title and job industry category
# Replace with 'no value'

cust_demo_data['job_title'] = cust_demo_data['job_title'].fillna('Unknown category')

In [180]:
cust_demo_data['job_title'].isnull().any()

False

In [181]:
cust_demo_data['job_industry_category'] = cust_demo_data['job_industry_category'].fillna('no value')

In [182]:
# 3. default
# Drop this column as of no use for us

cust_demo_data = cust_demo_data.drop(columns=['default'])

KeyError: "['default'] not found in axis"

In [ ]:
cust_demo_data.isnull().sum()

customer_id                            0
first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
dtype: int64

In [ ]:
cust_demo_data_cleaned =  cust_demo_data

# Find age
- First get ref date from transaction data
- Find age using DOB and ref date

In [183]:
transaction_data = pd.read_csv('transaction_data_cleaned.csv')
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19803 entries, 0 to 19802
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19803 non-null  int64
 1   product_id               19803 non-null  int64
 2   customer_id              19803 non-null  int64
 3   transaction_date         19803 non-null  object
 4   online_order             19803 non-null  float64
 5   order_status             19803 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               19803 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
 13  profit                   19803 non-null  float64
dtypes: float64(5), int64(3), object(6)
memory usage: 2.1+ MB

In [184]:
# Calculate ref date
ref_date = max(pd.to_datetime(transaction_data['transaction_date']))
ref_date = ref_date.date()
print(ref_date)

2017-12-30

In [185]:
# Caluclate age
cust_demo_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3913 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3913 non-null   int64
 1   first_name                           3913 non-null   object
 2   last_name                            3913 non-null   object
 3   gender                               3913 non-null   object
 4   past_3_years_bike_related_purchases  3913 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3913 non-null   object
 7   job_industry_category                3913 non-null   object
 8   wealth_segment                       3913 non-null   object
 9   deceased_indicator                   3913 non-null   object
 10  owns_car                             3913 non-null   object
 11  tenure                               3913 non-null   float64
 12  age                                  3913 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(8)
memory usage: 428.0+ KB

In [186]:
# Convert DOB to datetime
cust_demo_data['DOB'] = pd.to_datetime(cust_demo_data['DOB'])

In [187]:
cust_demo_data_cleaned['DOB'] = cust_demo_data_cleaned['DOB'].dt.date

In [188]:
# Convert both dob date to datetime
cust_demo_data['DOB'] = pd.to_datetime(cust_demo_data['DOB'])
ref_date = pd.to_datetime(ref_date)

In [189]:
cust_demo_data['age'] = ref_date - cust_demo_data_cleaned['DOB']

In [190]:
cust_demo_data['age'] = cust_demo_data['age'].dt.days/365.25

In [191]:
cust_demo_data['age'] = cust_demo_data['age'].astype(int)

In [192]:
cust_demo_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3913 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3913 non-null   int64
 1   first_name                           3913 non-null   object
 2   last_name                            3913 non-null   object
 3   gender                               3913 non-null   object
 4   past_3_years_bike_related_purchases  3913 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3913 non-null   object
 7   job_industry_category                3913 non-null   object
 8   wealth_segment                       3913 non-null   object
 9   deceased_indicator                   3913 non-null   object
 10  owns_car                             3913 non-null   object
 11  tenure                               3913 non-null   float64
 12  age                                  3913 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(8)
memory usage: 428.0+ KB

In [194]:
# Export file
cust_demo_data_cleaned.to_csv('customer_demography_cleaned.csv', index= False)